$brand-logo-size: 24px;
$black: #333;
$green: #3fafa4;
$brown: #633535;
$orange: #ffab40;
$white: #fff;
$darkblue: #546e7a;
$crimson: #c82b40;
$gray: #f9f2f4;
$default-font-size: 16px;
$text-muted: #777;

body {
  color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: $crimson;

  .nav-wrapper {
    margin: 0 auto;
    width: 90%;

    .brand-logo {
      font-size: $brand-logo-size;
    }
  }
}

@media only screen and (min-width: 601px) {
  nav {
    .nav-wrapper {
      width: 85%;
    }
  }
}

@media only screen and (min-width: 993px) {
  nav {
    .nav-wrapper {
      width: 70%;
    }
  }
}

footer {
  background-color: $brown;
  color: $white;
  padding-bottom: 8px;
  padding-top: 9px;
  width: 100%;

  .container {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  a {
    color: $orange;
  }

}

.btn {
  background-color: $green;
}

article {
  padding-bottom: 60px;

  p {
    font-size: $default-font-size;
  }

  h1 {
    margin-bottom: 10px;
  }

  .info {
    margin-bottom: 50px;
    margin-top: 0;
  }

  .post-header {
    margin-top: 30px;
  }

  li {
    font-size: $default-font-size;
  }
}

.text-muted {
  color: $text-muted;
}

.centered-image {
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  margin-top: 60px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}
