$pink: #ee6e73;
$black: #333;
$white: #fff;
$orange: #dc322f;
$darkblue: #546e7a;
$crimson: #c82b40;
$gray: #f9f2f4;
$default-font-size: 16px;
$text-muted: #777;

body {
  color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

article {
  padding-bottom: 60px;

  p {
    font-size: $default-font-size;
  }

  h1 {
    margin-bottom: 10px;
  }

  .info {
    margin-bottom: 50px;
    margin-top: 0;
  }

  .post-header {
    margin-top: 30px;
  }

  li {
    font-size: $default-font-size;
  }
}

.text-muted {
  color: $text-muted;
}

.centered-image {
  height: auto;
  max-width: 100%;
}

nav {
  background-color: $crimson;
}

.nav-wrapper {

  li {
    a {
      font-weight: bold;
    }
  }
}

pre {
  code {
    font-family: 'Liberation Mono', monospace;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
  margin-top: 60px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  code {
    background-color: $gray;
    border-radius: 4px;
    color: $orange;
    padding: 2px 4px;
  }
}

/*
 * footer.page-footer {
  padding-bottom: 20px;
  padding-top: 0;
  width: 100%;

  .footer-copyright {
    background-color: $pink;

    a {
      font-weight: bold;
    }
  }
}
*/

footer.page-footer {
  color: $white;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;

  .container {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  a {
    color: $orange;
  }

}
