extends ../../_layout

block vars
  - var title = 'Scala から CaboCha を使う'
  - var created = '2016-11-22';

block content
  article
    include ../../_header.pug
    include ../../../markdown/posts/ja/cabocha-scala.html
