doctype html
block vars
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/public/css/solarized-light.css')
    link(rel='stylesheet', href='/public/css/materialize.css')
    link(rel='stylesheet', href='/public/css/main.css')
    script(src='/public/js/MathJax.js')
    script(src='/public/js/highlight.pack.js')
    script(src='/public/js/materialize.css')
    script.
      hljs.initHighlightingOnLoad();
  body
    header
      include navbar.pug
    .container
      block content
