doctype html
block vars
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/public/css/solarized-light.css')
    link(rel='stylesheet', href='/public/css/materialize.css')
    link(rel='stylesheet', href='/public/css/roboto/roboto-fontface.css')
    link(rel='stylesheet', href='/public/css/main.css')
  body
    header
      include _navbar.pug
    main
      .container
        block content
    footer.page-footer.blue-grey.darken-1
      include _footer.pug
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/MathJax.js')
    script(src='/public/js/highlight.pack.js')
    script(src='/public/js/materialize.js')
    script.
      hljs.initHighlightingOnLoad();
