doctype html
block vars
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='../../css/solarized-light.css')
    link(rel='stylesheet', href='../../css/main.css')
    script(src='../../js/MathJax.js')
    script(src='../../js/highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
  body
    header
      nav
    block content
