link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto')
link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet',
     href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
if programming
  link(rel='stylesheet',
       href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css')
link(rel='stylesheet', href='/public/css/main.css')
